.mainCard {
    width: 30%;
    background-color: #F5F5F5;
    margin: 0px 8px 0px 8px;
    border-radius: 10px;
}

.mainCard>div {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.mainCardLeft {
    display: flex;
    align-items: center;
}

.mainCardLeft>h4 {
    margin: 0px 9px;
    font-weight: 500;
}

.count {
    border-radius: 50%;
    background-color: #dbdbdb;
    color: #625F6D;
    font-size: 12px;
    font-weight: 500;
    padding: 3px 6px;
    margin-left: 5px;
}

.mainCardRight>img {
    height: 20px;
}

.mainCardBottom {
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    div.mainCard {
        width: 100%;
        margin: 30px 20px;
    }
}